<%- include('../partials/header') %>
    <main class="family-main">
        <div class="family-head">
            <h3><%= family.family_name %> Family</h3>
            <p>Family Join Code: <%= family.invite_code %></p>
        </div>
        <div class="person-section">
            <div class="person-section-title">
                <h3>Parents</h3>
                <hr>
            </div>
            <div class="person-cards-row">
                <% users.filter(member => member.role === 'parent').forEach(member => { %>
                    <div class="home-section">
                        <div class="person-heading">
                            <img class="profile-pic" src="/images/mom-profile-pic.jpg" alt="profile picture">
                            <div class="person-title">
                                <h3><%=member.name%></h3>
                                <p><i class="bi bi-person"></i><%=member.role%></p>
                            </div>
                            <div class="tasks-person-completed">
                                <h3><%=member.completed_tasks%></h3>
                                <p>Completed</p>
                            </div>
                        </div>
                        <hr>
                        <div class="task-list-link">
                            <p><a>Click to View Name's Tasks</a><i class="bi bi-caret-right-fill"></i></p>
                        </div>
                    </div>

                <% }) %>
            </div>
        </div>
        <div class="person-section">
            <div class="person-section-title">
                <h3>Kids</h3>
                <hr>
            </div>
            <div class="person-cards-row">
                <% users.filter(member => member.role === 'child').forEach(member => { %>
                    <div class="home-section">
                        <div class="person-heading">
                            <img class="profile-pic" src="/images/mom-profile-pic.jpg" alt="profile picture">
                            <div class="person-title">
                                <h3><%=member.name%></h3>
                                <p><i class="bi bi-person"></i><%=member.role%></p>
                            </div>
                            <div class="tasks-person-completed">
                                <h3><%=member.completed_tasks%></h3>
                                <p>Completed</p>
                            </div>
                        </div>

                        <hr>
                        <div class="task-list-link">
                            <p><a>Click to View Name's Tasks</a><i class="bi bi-caret-right-fill"></i></p>
                        </div>
                    </div>

                <% }) %>
            </div>
        </div>
    </main>
<%- include('../partials/footer') %>