<%- include('../partials/header') %>
<h3 class="greeting"><%= greeting %>, <%= currentUser.name %>! <i class="bi bi-card-checklist"></i></h3>
<main>
        
    <div class="home-section">
        <h3>Create New Task</h3>
        <p>Create a task for yourself or assign it to a family member</p>
        <form method="POST" action="/" class="create-task">
            <div class="form-group">
                <label for="task-title">Task Title</label>
                <input type="text" id="title" name="title" placeholder="Enter task title..." required>
            </div>
            <div class="form-group">
                <label for="description">Description (optional)</label>
                <textarea id="description" name="description" placeholder="Add more details..."></textarea>
            </div>
            <div class="form-group">
                <label for="due_date">Due Date</label>
                <input type="date" id="due_date" name="due_date" placeholder="Date Due">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select id="category" name="category">
                    <option value="other">Other</option>
                    <option value="chores">Chores</option>
                    <option value="homework">Homework</option>
                    <option value="errands">Errands</option>
                    <option value="personal">Personal</option>
                </select>
            </div>
            <div class="form-group">
                <label for="assign-to">Assign To</label>
                <select id="assign-to" name="assign-to">
                    <option value="<%= currentUser.user_id %>">Keep for myself</option>
                    <% users.forEach(member => { %>
                        <option value="<%= member.user_id %>"><%= member.name %></option>
                    <% }) %>
                </select>
            </div>
            <button type="submit">Create Task</button>
        </form>
    </div>

    </main>

<%- include('../partials/footer') %>